@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  font-family: "Roboto Slab", serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poetsen One", sans-serif !important;
}
